code[class*='language-'],
pre[class*='language-'] {
  .token.cdata,
  .token.comment,
  .token.doctype,
  .token.prolog {
    color: #90a4ae;
  }
  .token.punctuation {
    color: #9e9e9e;
  }
  .namespace {
    opacity: 0.7;
  }

  .token.boolean,
  .token.constant,
  .token.deleted,
  .token.number,
  .token.property,
  .token.symbol {
    color: #e91e63;
  }

  .token.attr-name,
  .token.builtin,
  .token.char,
  .token.inserted,
  .token.selector,
  .token.string {
    color: #22863a;
  }

  .style .token.string,
  .token.entity,
  .token.operator,
  .token.url {
    color: #795548;
  }

  .token.atrule,
  .token.attr-value,
  .token.keyword {
    color: #3f51b5;
  }

  .token.function {
    color: #f44336;
  }

  .token.important,
  .token.regex,
  .token.variable {
    color: #ff9800;
  }

  .token.bold,
  .token.important {
    font-weight: 700;
  }
}

code[class*='language-css'],
pre[class*='language-css'] {
  color: #005cc5;
  .token.property,
  .token.color {
    color: #005cc5;
  }

  .unit {
    color: #d73a49;
  }

  .token.selector .class {
    color: #6f42c1;
  }
}

code[class*='language-html'],
pre[class*='language-html'] {
  .token.tag {
    color: #22863a;
  }
  .attr-name {
    color: #005cc5;
  }
}
